*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

p{
  text-align: justify;
  margin-top:10px;
}

.image{
  max-width: 600px;
  width:100%;
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
   filter: grayscale(80%);
   cursor: zoom-in;
}

.image:hover{
  max-width: 600px;
  width:100%;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
}

.center{
  text-align: center;
}

.line{
  border-bottom: 1px solid #1E90FF;
}

.title, h1{
  border-left:5px solid #48D1CC;
  margin-top: 5px;
  padding: 5px;
}

.max-width{
  max-width: 650px;
  width: 100%;
}

.border-top{
  border-top:5px solid #1E90FF;
}

.footer{
  background-color: #1E90FF;
  padding:10px;
  box-sizing: border-box;
  color: #FFF;
}

.footer p{
  text-align: center;
}

.footer a{
  color: #FFF;
  text-decoration: none;
}

.footer a:hover{
  color: #111;
  text-decoration: underline;
}


/*MODAL BEGIN*/
#dvModal{
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  top:0;
  left:0;
  z-index:999;
  position: fixed;
  display: none;
}

#dvContent{
  background-color: #FFF;
  max-width: 900px;
  width:100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#dvContent img{
  max-width: 900px;
  width:100%;
}

#dvContent p{
  text-align: center;
  font-weight: bold;
}
